@tailwind base;
@tailwind components;
@tailwind utilities;


.events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }

/* styles.css */
.custom-button {
  font-size: 1.2rem;
  color: #fff;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  transform: scale(1.1);
  box-shadow: 0 2px 10px 5px rgba(255, 105, 135, .5);
}
.text-right {
  text-align: right;
}


/* admin dashboard */
li{
  list-style: none;
  margin-bottom: 5px;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.dark{
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb
}

body{
  background: var(--grey);
  overflow-x: hidden;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.avatar-container .ant-avatar {
  border: 2px solid white;
  background-color: #1e90ff;
}

.avatar-container .ant-btn-primary {
  background-color: #1e90ff;
  border-color: #1e90ff;
}
